<%- include('partials/header'); %>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Play&display=swap" rel="stylesheet">
    <link href="/css/game.css" rel="stylesheet">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app</noscript>
    <h1 class="heading">Simon Game</h1>
    <div class="game">
      <h1>Hi, <%= name %></h1>
      <h3 id="level-title">Press Any Color to Start...</h3>
      <div class="row">
        <div id="green" class="btn"></div>
        <div id="red" class="btn"></div>
      </div>
      <div class="row">
        <div id="yellow" class="btn"></div>
        <div id="blue" class="btn"></div>
      </div>
      <button onclick="location.reload()">Restart</button>
    </div>
    <footer>© Silver <%= new Date().getFullYear() %></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/game.js"></script>
<%- include('partials/footer'); %>
